# Computation files
*.bnet
*.json

# build files
/bin*
/lib*
/Debug*
/Release*

# CMake files
CMakeFiles*
*CMake*.bin
*CMake*.cmake
CMakeCache.txt
*Makefile

# Visual Studio files
Win32*
*.dir
*.vcxproj*
*.opensdf
*.sdf
*.sln
*.suo
*.vs

# NetBeans
*nbproject*

# IDEA
*.idea*
*__pycache__*

# projects
projects/*
javascript/data*

# created files
*.sqlite
*.log
